<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/personas/index.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>
        Personas
        <a href="./crear-persona.html"><button>Crear persona</button></a>
      </h1>

      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody id="tbody-personas"></tbody>
      </table>
    </div>
    <script src="../../static/js/personas/index.js"></script>
  </body>
</html>
