<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/personas/ver-persona.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="MiTitulo">Persona</h1>
      <h2>Nombre: <span id="span-nombre"></span></h2>
      <h2>Apellido: <span id="span-apellido"></span></h2>
      <h2>Edad: <span id="span-edad"></span></h2>
      <a href="./editar-persona.html"
        ><button id="btn-editar">Editar</button></a
      >
      <a href="./index.html"><button id="btn-borrar">Borrar</button></a>
      <a href="./index.html"><button>Volver</button></a>
    </div>
    <script src="../../static/js/personas/ver-persona.js"></script>
  </body>
</html>
